AWS_REGION=ap-south-1
COGNITO_USER_POOL_ID=ap-south-1_t5fGyLcq1
COGNITO_APP_CLIENT_ID=5seu0kfgs2e78fhgil32hpt81u
DYNAMODB_USERS_TABLE=LocalLoopUsers
DYNAMODB_PRODUCTS_TABLE=LocalLoopProducts
DYNAMODB_CHATS_TABLE=LocalLoopChats
DYNAMODB_OFFERS_TABLE=LocalLoopOffers

AWS_ACCESS_KEY_ID=AKIARC22SEPUE4Z2J732
AWS_SECRET_ACCESS_KEY=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
API_PREFIX=/api/v1
PROJECT_NAME=LocalLoop Backend