AWS_REGION=ap-south-1
COGNITO_USER_POOL_ID=ap-south-1_t5fGyLcq1
COGNITO_APP_CLIENT_ID=5seu0kfgs2e78fhgil32hpt81u
DYNAMODB_USERS_TABLE=LocalLoopUsers
DYNAMODB_PRODUCTS_TABLE=LocalLoopProducts
DYNAMODB_CHATS_TABLE=LocalLoopChats
DYNAMODB_OFFERS_TABLE=LocalLoopOffers
DYNAMODB_NOTIFICATIONS_TABLE=LocalLoopNotifications
DYNAMODB_REVIEWS_TABLE=LocalLoopReviews
OFFER_EXPIRY_HOURS=48
S3_BUCKET_NAME=localloop-product-images
S3_PRESIGNED_EXPIRY_SECONDS=3600

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
API_PREFIX=/api/v1
PROJECT_NAME=LocalLoop Backend
